@import "../core/variables.scss";
.header {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 100%;
  margin-bottom: 2rem;
  padding-bottom: 10px;
  border-bottom: 1px solid $soft-white;
  background-image: url("../../images/img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media all and (min-width: 768px) {
    height: 400px;
  }

  &__title {
    padding: 0 10px;
    margin-bottom: 8px;
    font-size: 2rem;
    color: $green;
    background-color: $background-white;
    border-radius: 05rem;
  }

  &__search {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 70%;
    border: 2px solid $grey;
    border-radius: 0.5rem;
    background-color: $background-white;
    outline: none;
    @media all and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }
  }
  &__label {
    font-size: 1rem;
    margin: 0 15 0 0px;
    vertical-align: middle;
    font-size: 1.2rem;
    @media all and (min-width: 768px) {
      margin: 0 auto;
    }
    @media all and (min-width: 1240px) {
      margin: 0 15px 0 150px;
    }
  }
  &__text {
    padding: 0.15rem 0.5rem;
    border-radius: 5px;
    border: 1px solid $dark-grey;
    outline: none;
  }
}
