@import "../core/variables.scss";
.quote {
  &__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
  }

  &__item {
    margin-bottom: 1rem;
    padding: 1rem;
    width: 30rem;
    list-style: none;
    border-radius: 0.5rem;
    border: 1px solid $grey;
    background-color: $coffee-colour;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
  }
}
